.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* This ensures the image does not exceed the avatar's bounds */
  background-color: #ddd; /* A default background color for when images are loading */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the area without stretching */
}
